<html>
    <head>
        <title>Bruno's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Bruno's Blog</a></h1>
        </div>

        <div>
            <p>published: 2018/01/29, 08:43</p>
            <h2><a href="">Online</a></h2>
            <p>This is the <span style="font-style: italic">first</span> post.</p>
        </div>

        <div>
          <p>published: 2018/01/29, 08:45</p>
          <h2><a href="">Still here!</a></h2>
          <p>Blah blah blah</p>
        </div>
    </body>
</html>
